environment: development
app:
  port: 4000
  hostname: localhost
  prefix: /api/v1
  name: "Dummy name"
  description: "Dummy description"
  title: "Dummy title"
database:
  mysql:
    host: "23.88.115.31"
    port: 3306
    username: "root"
    password: "root12!"
    name: "db"
    retryAttempts: 2
    connectTimeout: 30000
swagger:
  path: docs
  title: "Dummy title"
  description: "Dummy description"
  version:
  contact:
    name:
    url:
    email:
  securityScheme:
    type:
    in:
    name:
